body {
  background-color: #ffc900;
}
#name{
	font-size:65px;
	text-align: center;
	color:#262640;
   font-style: oblique;
}
h1 {
  color:#262640;
}

div
{
	color:black;
}
ul{
  color: black;
  font-size:20px;
}

.num1{
  background-color:	#E0E0E0;
  color: white;
  border-radius: 25px;
  margin: 20px;
  padding: 20px;
  
  
}
.num2{
  background-color:#E0E0E0;
  color: white;
  border-radius: 25px;
  margin: 20px;
  padding: 20px;
}
.num3{
  background-color: #E0E0E0;
  color: white;
  border-radius: 25px;
  margin: 20px;
  padding: 20px;
}
.num4{
  background-color: #E0E0E0;
  color: white;
  border-radius: 25px;
  margin: 20px;
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color:#FF8C00;
  padding: 5px;
   height: auto;
}
@media only screen and (max-width: 530px) {
.grid-container {
  display: grid;
  grid-template-columns: auto;
  background-color: #FF8C00;
  padding: 5px;
   height: auto;

}
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 25px;
  text-align: center;
}
.grid-item2{
  background-color: #E0E0E0;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 25px;
  text-align: center;
  border-radius:40px;
  margin:center;
  color:#007bb5;
}
.grid-container2 {
  display: grid;
  grid-template-columns: auto;
  padding: 5px;
  height: auto;
  width:20%;
  margin: auto;
}

	

.fa-linkedin {
  background: #007bb5;
  color: white;
  border-radius:5px;
}
.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
i:hover {
  background-color: #FF8C00;
    border-radius: 25px;
}

a{
	text-decoration: none;
}
 a:hover {
  background-color: powderblue;
}

#demo{
	font-size:70px;
	text-color:red;
}

#click1
{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
 border-radius: 80px;
}

#button
{
	text-align:center;
}







